<!DOCTYPE html>
<html>
  <head>
    <title>Basic Page</title>
  </head>
  <body>
    <h1>Kendra Ryan</h1>
    <h2>Mother of Ferals</h2>
    <h3>Loves cats, computers and Colin</h3>
    <h4>Not necessarily in that order</h4>
    <h5>Also loves sci-fi novels</h5>
    <h6>And the tiny cups of coffee from Trader Joes</h6>

    <p>
      Here is a paragraph about things that I love in addition to the
      afformentioned: I love my girlfriends, I love my family,
      <strong>I love llamas</strong>
      (I've loved them since before they were cool!), I love cheese (even though
      cheese doesn't love me back), I love hiking (even though I rarely go), I
      love Skyrim (probably too much), I love cooking and baking (but only
      sometimes and never when I'm actually hungry), and I love daydreaming
      about alternate worlds and realities, personal planets and possibilities.
    </p>

    <button>I do nothing!</button>
    <ul>
      <li>Sweet potatoes</li>
      <li>Lettuce for both salad and romain boats</li>
      <li>Chicken burgers</li>
    </ul>
  </body>
</html>
